@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;1,200&display=swap');

/* PartnerSlider.css */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
/* PartnerSlider.css */
.partner-slider {
    overflow: hidden;
  }
  
  .partner-logos {
    display: flex;
    animation: scrollAnimation 30s linear infinite; /* Adjust the duration as needed */
    white-space: nowrap; /* Prevent logos from wrapping to the next line */
  }
  
  .partner-logo {
    max-width: 156px;
    max-height: 124px;
    margin-right: 170px; /* Adjust the margin as needed for the desired gap */
    flex-shrink: 0; /* Prevent logos from shrinking */
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translateX(calc(-100% - (170px * 14))); /* Adjust the margin and number of logos */
    }
  }
  
  

  @media only screen and (max-width: 800px) {
    .partner-logo {
        max-width: 60px; /* Adjust the maximum width for smaller screens */
        max-height: 34px; /* Adjust the maximum height for smaller screens */
        margin-right: 20px; /* Adjust the margin for smaller screens */
      }
}